<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>baribari</title>

	<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.de,Intl.~locale.en"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/build.css"/>
	<script src="http://127.0.0.1:12347/livereload.js?snipver=1"></script>
</head>
<body>
<div class="app">
	<%- body %>
</div>

<script src="/build.js"></script>
</body>
</html>