.page--details {
	.set {
		display: flex;
	}
	.set-picture {
		flex: 1;
		background: #000;
		height: 300px;
		margin-right: 2rem;
	}
	.set-info {
		flex: 1;
		color: #868686;
		font-weight: bold;
	}
	.set-heading {
		margin-top: 0;
		font-size: 1.2rem;
		color: #000;
	}
	.set-price {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}
	.set-contains {
		margin-bottom:1rem;
	}
}