body {
}

.landing-header {
	padding-bottom: 55%;
	background: #000 url('images/landing2.png') no-repeat center;
	background-size: cover;
	position: relative;
}

.landing-header-logo {
	position: absolute;
	background: url('images/logo.png') no-repeat center;
	width: 150px;
	height: 181px;
	background-size: 70%;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
}

.landing-header-slogan {
	color: #dcdcdc;
	margin: auto;
	position: absolute;
	width: 100%;
	bottom: 0;
	top: -50px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	//word-spacing: 3px;
	line-height: 55px;
}